@{
    Layout = "";
}

@model Gestion_Navettes.Models.societe

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>inscrition societe</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Background Video-->
    <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="/assets/mp4/bg.mp4" type="video/mp4" /></video>
    <!-- Masthead-->
    <div class="masthead">
        <div class="masthead-content text-white">
            <div class="container-fluid px-4 px-lg-0">
                <h1 class="fst-italic mb-4">Societé Register</h1>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control my-2", placeholder = "Entrer le nom de la societé" } })
                                @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.login, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control  my-2", placeholder = "choisir votre login" } })
                                @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.mdp, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.mdp, new { htmlAttributes = new { @class = "form-control  my-2", placeholder = "choisir votre mot de pass",Type="password" } })
                                @Html.ValidationMessageFor(model => model.mdp, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.adresse, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.adresse, new { htmlAttributes = new { @class = "form-control my-2", placeholder = "Entrer votre adress" } })
                                @Html.ValidationMessageFor(model => model.adresse, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <input type="submit" value="Create" class="btn btn-danger mt-2" />
                            </div>
                        </div>
                    </div>
                }

                <div class="mt-2">
                    @Html.ActionLink("Already have an account ?Connexion", "Connexion",null,new { Class="text-white"})
                </div>

            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>